nav {
  background-color: $color-secondary-2-darker;
  .navbar-toggler {
    color: $color-secondary-2-lighter;
  }
  ul {
    li a {
      color: $color-secondary-2-light;
      &:hover {
        color: $color-secondary-2-darker;
        background-color: $color-secondary-2-light;
      }
    }
  }
  .navbar-brand {
    float:left;
    min-height: 55px;
    padding: 0 0 0;
    color: $color-complement-light;
    font-size: 2em;
  }
}
