//
// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=4330u0kllll0MH0b3sFvCe0YI6F */



// As hex codes */

$color-primary: #277553;	// Main Primary color */
$color-primary-lighter: #C8CDCB;
$color-primary-light: #679D85;
$color-primary-dark: #014D2C;
$color-primary-darker: #002415;

$color-secondary-1: #AA7939;	// Main Secondary color (1) */
$color-secondary-1-lighter: #FFFCF9;
$color-secondary-1-light: #E4C396;
$color-secondary-1-dark: #704001;
$color-secondary-1-darker: #351E00;

$color-secondary-2: #983351;	// Main Secondary color (2) */
$color-secondary-2-lighter: #EEE8EA;
$color-secondary-2-light: #CC869B;
$color-secondary-2-dark: #64011F;
$color-secondary-2-darker: #2F000E;

$color-complement: #AA5939;	// Main Complement color */
$color-complement-lighter: #FFFBF9;
$color-complement-light: #E4AC96;
$color-complement-dark: #702101;
$color-complement-darker: #350F00;

// As RGBa codes */

$rgba-primary: rgba( 39,117, 83,1);	// Main primary color */
$rgba-primary-lighter: rgba(227,227,227,1);
$rgba-primary-light: rgba(110,165,141,1);
$rgba-primary-dark: rgba(  0, 68, 39,1);
$rgba-primary-darker: rgba(  0, 20, 11,1);

@import "nav";

@mixin semi-trasparent($color, $opacity: 0.7) {
  background: $color;
  background: rgba($color, $opacity);
}

@mixin parallax($backgroundImg) {
  background-image: url($backgroundImg);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {

}

.parallax-2 {
  /* The image used */
  background-image: url("../img/carousel/lukasz-szmigiel-2ShvY8Lf6l0-unsplash.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .semi-trans {
    @include semi-trasparent($color-primary-lighter, .7);
  }
}

.parallax-3 {
  /* The image used */
  background-image: url("../img/sydney-angove-GJJGpecwvMs-unsplash.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .semi-trans {
    @include semi-trasparent($color-primary-lighter, .7);
  }
}

body {
  margin-top: 5em;
}

footer {
  background-color: $color-primary-lighter;
}

#gallery {
  background-color: black;
}

.carousel .carousel-inner .carousel-item {
  transition-duration: 1.5s;
  img, a {
    display: block;
    line-height: 1;
    width: 100%;
  }
  .carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 50%;
    color: black;

  }
}

.section {
  padding-bottom: 2.5em;
}

#specialty {
  @include parallax("../img/roya-ann-miller-E2_k8SsuS7s-unsplash.jpg");
  .semi-trans {
    @include semi-trasparent($color-primary-lighter, .7);
  }
  padding-top: 2.5em;
  h2 {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: .4em;
    @include semi-trasparent($color-primary-lighter, .8);
  }
  ul {
    margin: 1em;
    li {
      font-weight: bold;
      margin-bottom: .5em;
      padding: .5em;
      list-style-type: none;
      border-radius: .4em;
       @include semi-trasparent($color-primary-lighter, .8);
    }
  }
  #accordion {
    $accordionBorder: 1em;
    .card {
      border-radius: $accordionBorder;
      @include semi-trasparent($color-primary-lighter, .9);
      .card-header {
        background: $color-primary-darker;
        border-radius: $accordionBorder;
        text-align: center;
        h5 {
          button {
            color: white;
          }
        }
      }
    }
  }
}

#about {
  background-color: $color-primary-dark;
  h2 {
    @include semi-trasparent($color-primary-darker, .8);
    margin: 1em;
    padding: 1em;
    text-align: center;
    color: $color-primary-light;
  }
  p {
    @include semi-trasparent($color-primary-lighter, .8);
    margin: 0 1em;
    padding: 1em;
    color: $color-primary-darker;
  }
  img {
    margin: 1em;
  }
}

#approach {
  padding-top: 2.5em;
  h2 {
    padding: 1em;
    margin-bottom: 1em;
    @include semi-trasparent($color-primary-light, .8);
  }
  p {
    margin-bottom: .8em;
    padding: 1em;
    @include semi-trasparent($color-primary-light, .8);
  }
}

#services {
  background-color: $color-primary-dark;
  h2 {
    @include semi-trasparent($color-primary-light, .8);
    margin: 1em;
    padding: 1em;
    text-align: center;
  }
  p {
    @include semi-trasparent($color-primary-lighter, .8);
    margin: 0 1em;
    padding: 1em;
  }
  img {
    margin: 1em;
  }
}

#tele-therapy {
  padding-top: 2.5em;
  h2 {
    padding: 1em;
    margin-bottom: 1em;
    @include semi-trasparent($color-primary-light, .8);
  }
  p {
    margin-bottom: .8em;
    padding: 1em;
    @include semi-trasparent($color-primary-light, .8);
  }
}

@media (min-width: 900px) {
  .carousel-caption {
    h1 {
      font-size: 4em;
    }
  }
}

// @media (max-width: 1200px) {
//   .carousel-caption h1 {
//     font-size: 3em;
//   }
// }
//
// @media (max-width: 720px) {
//   .carousel-caption h1 {
//     font-size: 1.5em;
//   }
// }
//
// @media (max-width: 400px) {
//   p {
//     font-size: 24px;
//   }
// }
